.root {
  padding: 5px 80px 5px 80px;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}