.root {
  padding: 10px 80px 10px 80px;
  margin-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #C9CCCF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  padding: 0 10px;
  align-self: center;
  text-decoration: none;
  font-size: 32px;
  
  &:hover {
    color: #3375D6;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}

.avatar {
  cursor: pointer;
  // top: 0px;
  // right: 5px;
  // position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  object-fit: cover;
}